/* normalize.css has been added as a package */
@import "./partials/colors.scss";
@import "./partials/typography.scss";

body {
  color: $black;
  font-family: $font-normal;
  font-size: 16px;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  font-family: $font-bold;
  color: $primary-color;
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

main {
  padding: 10px 20px;
}

header {
  nav {
    border-bottom: 1px solid $primary-color;
    background-color: $primary-color;
    padding: 5px 20px;
    margin-bottom: 15px;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        display: inline-block;
        padding-right: 20px;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            color: $light-gray;
          }
          h1 {
            margin: 0;
          }
        }
      }
    }
  }
}

i {
  color: $light-gray;
  &:hover {
    color: $secondary-color;
    cursor: pointer;
    cursor: hand;
  }
}

.board {
  width: 20%;
  display: inline-block;
  border: 1px solid $primary-color;
  padding: 0 15px;
  margin-right: 5px;
  vertical-align: top;
  header {
    i {
      float: right;
    }
    h4 {
      color: $primary-color;
      text-transform: capitalize;
    }
  }
  footer {
    // display: none;
    border-top: 1px dashed $light-gray;
    padding: 10px 0;
    i {
      padding: 5px;
      &.fa-trash-o {
        float: right;
      }
    }
  }
}

button, .button, input[type=button] {
  background-color: transparent;
  font-family: $font-bold;
  color: $primary-color;
  border: 2px solid $primary-color;
  padding: 10px 20px;
  margin: 10px inherit;
  &:hover, :focus {
    background-color: $primary-color;
    color: $white;
  }
}